@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=Chivo+Mono:wght@100&family=Dancing+Script&family=Fasthand&family=Foldit&family=Josefin+Sans:ital,wght@0,300;1,100;1,200&family=Lobster&family=Lumanosimo&family=Montserrat:ital,wght@0,200;1,100&family=Roboto&family=Sigmar&family=Vina+Sans&display=swap');
*{
  margin:0px;
  padding: 0px;
  font-family: 'Young Serif', serif;
}